<div class="chatHistory_messages boxBorder boxSizing" id="dvchatHistory_msgs">
    <table border="0" cellpadding="0" cellspacing="0" class="tableBorder" height="100%" width="100%">
        <tr class="borderBottomOfTab titleBackground">
            <td align="left" height="20px">
                <span class="chatRoomName fontFace" id="spCurrentChatRoomName" data-i18n="CHAT_ROOM_TITLE_64">
                    USA
                </span>
            </td>
            <td align="right" width="65px;" height="20px">
                <span id="spCurrentTime" class="chatRoomTime fontFace">
                    1:02 <span id="spCurrentTimeIndicator" data-i18n="TIME_PM_76">#PM#</span>
                </span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="chatHistory_msgBox smoothScrolling " id="dvchatHistory_msgs_box">
                </div>
            </td>
        </tr>
    </table>
</div>
