<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" class="boxSizing">
    <tr>
        <td colspan="2" height="30px" >
            <div class="chatHeaderContainer fontFace maxWidth titleBackground boxSizing" id="dvChatHeaderContainer" >
            </div>
        </td>
    </tr>
    <tr id="chatRoomsRow">
        <td rowspan="2" width="275px">
            <div class="chatRoomsContainer fullWidth boxSizing" id="dvChatRoomsContainer">
            </div>
        </td>
        <td>
            <div class="chatWindowContainer fullWidth boxSizing" id="dvChatWindowContainer" >
            </div>
        </td>
    </tr>
    <tr>
        <td height="30px">
            <div class="maxWidth boxSizing" id="dvTypeSpaceContainer">
            </div >
        </td>
    </tr>
    <tr >
        <td width="275px" height="175px" >
            <div class="userInfoContainer boxBorder maxWidth boxSizing" id="dvUserInfoContainer">
            </div>
        </td>
        <td height="175px">
            <div class="currentUserContainer boxBorder maxWidth boxSizing" id="dvCurrentUserContainer">
            </div>
        </td>
    </tr>
</table>
