<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
    <tr>
        <td>
        </td>
        <td>
            <img src="https://accu.org/themes/AccuBimini/graphics/search.png"/>
        </td>
        <td>
        </td>
        <td>
            Advt:
            <a href="https://www.drbatras.com/" class="advertiseLink"   target="_blank">
                क्या आपके बाल झाड़ रहे हैं?
            </a>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
<!--             <img alt="Logout" src="http://top.wapshared.com/media/icon/out.png"/> -->
        </td>
    </tr>
</table>
