<div id="dvHeader_chatTab">
    <a class=" siteMenuOptions" href="javascript:toggle_tab(1,'header.html=>dvHeader_chatTab')">
        <span>
            <img src="img/header/chat.png"/>
        </span>
        <span class="siteMenuFontStyle" data-i18n="CHAT_36">
            #Chat#
        </span>
    </a>
</div>
<div id="dvHeader_searchTab">
    <a class=" siteMenuOptions" href="javascript:toggle_tab(2,'header.html=>dvHeader_searchTab')">
        <span>
            <img src="img/header/search.png"/>
        </span>
        <span class="siteMenuFontStyle" data-i18n="SEARCH_37">
            #Search#
        </span>
    </a>
</div>
<div id="dvHeader_messagesTab">
    <a class=" siteMenuOptions" href="javascript:toggle_tab(3,'header.html=>dvHeader_messagesTab')">
        <span>
            <img src="img/header/commenting.png"/>
        </span>
        <span class="siteMenuFontStyle" data-i18n="MESSAGES_38">
            #Messages#
        </span>
    </a>
</div>
<div id="dvHeader_settingsTab">
    <a class=" siteMenuOptions" href="javascript:toggle_tab(4,'header.html=>dvHeader_settingsTab')">
        <span>
            <img src="img/header/wrench.png"/>
        </span>
        <span class="siteMenuFontStyle" data-i18n="SETTINGS_71">
            #Settings#
        </span>
    </a>
</div>
<div id="dvHeader_earnTab">
    <a class=" siteMenuOptions" href="javascript:toggle_tab(5,'header.html=>dvHeader_earnTab')">
        <span>
            <img src="img/header/money.png"/>
        </span>
        <span class="siteMenuFontStyle" data-i18n="EARN_T_DOLLARS_40">
            #EarnT$#
        </span>
    </a>
</div>
<div id="dvHeader_logoutTab">
    <a class=" siteMenuOptions" href="javascript:toggle_tab(6,'header.html=>dvHeader_logoutTab')">
        <span>
            <img src="img/header/close.png"/>
        </span>
        <span class="siteMenuFontStyle" data-i18n="LOGOUT_41">
            #Logout#
        </span>
    </a>
</div>
