<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
    <tr height="25px">
        <td background="img/del/topbg.png" bgcolor="#FF00FF">
            <div class="userProfileName fontFace" id="dvCurrentUserNameBlock">
                <span class="titlePadding" data-i18n="ME_52">
                    #ME#
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td align="center" valign="middle">
            <table border="0" cellpadding="0" cellspacing="0" height="60%" width="90%">
                <tr>
                    <td align="center" valign="bottom">
                        <img class="chat_userPic" id="loggedInUser_me_image" src="">
                        </img>
                    </td>
                </tr>
                <tr height="20px">
                    <td>
                        <table border="1" cellpadding="0" cellspacing="0" class="fontStyle borderStyle" height="100%" width="100%">
                            <tr>
                                <td>
                                    <img class="mediaTab meAreaMediaTab cursorStyle" id="meArea_audio_img" src="">
                                    </img>
                                </td>
                                <td>
                                    <img class=" mediaTab meAreaMediaTab cursorStyle" id="meArea_video_img" src="">
                                    </img>
                                </td>
                                <td>
                                    <img class=" mediaTab meAreaBarTab" id="meArea_bar_img" src="">
                                    </img>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr height="20px">
        <td class="fontStyle borderTopOfTab fontFace">
            <span class="cursorStyle" data-i18n="SETTINGS_71" id="meArea_settings_tab">
                #Settings#
            </span>
        </td>
    </tr>
</table>
