<div id="dvConversationList" class="conversationList fontFace maxHeight" >
<div id="dvConversationListHeader" class="fullWidth">

</div>
<div id="dvConversationListSearch" class="conversationListSearch fullWidth">
 <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tr>
           
           

            <td>
                <div class="inputBox fullWidth" id="dvConvo_search">
                    <input type="text" id="txtType_message" class="textarea conversationListSearchBox" placeholder="#Search or Start a new chat#" />
                </div>
            </td>
            
        </tr>
    </table>
</div>
<div id="dvConversationListUsers" class="conversationUsersList fullWidth smoothScrolling">
</div>
</div>
<div id="dvConversations" class="conversations fontFace"><!--maxHeight-->
   
</div>