<div class="mobileTabWindow roomList" id="dvRooms_container">
<!--  <span class="tabInnerText fontFace">
        room list
    </span> -->
</div>
<div class="mobileTabWindow" id="dvChatWindow">
 <span class="tabInnerText fontFace">
        chat
    </span>
    
</div>
<div class="mobileTabWindow" id="dvSearchWindow">
   
</div>
<div class="mobileTabWindow settingTab" id="dvConversationListUsers">
    
</div>
<div class="mobileTabWindow settingTab" id="dvSettingsWindow">
    <span class="tabInnerText fontFace">
        settings
    </span>
</div>


<div class="mobileTabWindow earnMoneyTab" id="dvEarnMoneyWindow">
    <span class="tabInnerText fontFace">
        earn money
    </span>
</div>
<div class="mobileTabWindow settingTab" id="dvLogOutWindow">
    <span class="tabInnerText fontFace">
        Logout
    </span>
</div>
<div class="mobileTabWindow" id="dvConversations">
    <!-- <span class="tabInnerText fontFace">
        convertion
    </span> -->
</div>