
<div id="dvHeader_chatRoomsTab"  class="tab Footer_Tab" style="background-color:red" >
        <span class="tabIconContiner" >
            <img class="tabIconImg center" id="imgRoomListTab"src=""/>
        </span><br>
       
    
</div>
<div id="dvHeader_chatTab"  class="tab Footer_Tab" style="background-color:blue">
    
        <span class="tabIconContiner">
            <img class="tabIconImg center" id="imgChatTab"src=""/>
        </span><br>
       
    
</div>


<div id="dvHeader_searchTab"  class="tab Footer_Tab" style="background-color:green">
    
        <span class="tabIconContiner">
            <img class="tabIconImg center" id="imgSearchTab" src=""/>
        </span><br>
        
    
</div>
<div id="dvHeader_messagesTab"  class="tab Footer_Tab" style="background-color:yellow">
    
        <span class="tabIconContiner">
            <img class="tabIconImg center" id="imgMsgTab" src=""/>
        </span><br>
       
    
</div>
<div id="dvHeader_settingsTab"  class="tab Footer_Tab" style="background-color:black" >
    
        <span class="tabIconContiner">
            <img class="tabIconImg center" id="imgSettingsTab" src=""/>
        </span><br>
       
    
</div>
<div id="dvHeader_earnTab"  class="tab Footer_Tab" style="background-color:grey" >
        <span class="tabIconContiner">
            <img class="tabIconImg center" id="imgEarnTab" src=""/>
        </span><br>
       
</div>
<div id="dvHeader_logoutTab"  class="tab Footer_Tab"  style="background-color:orange">
    
        <span class="tabIconContiner">
            <img class="tabIconImg center" id="imgLogOutTab" src=""/>
        </span><br>

</div>