<div class="swipe_app" id="dvSwipeApp">
    <div class="swipe_img_content" id="dvSwipeImageContent">
    </div>
    <div class="swipe_footer" id="dvSwipeAppFooter">
        <div class="swipe_refresh" id="dvSwipeRefresh">
        </div>
        <div class="swipe_rating" id="dvSwipeDislike">
        </div>
        <div class="swipe_star" id="dvSwipeStarIcon">
        </div>
        <div class="swipe_rating" id="dvSwipeLike">
        </div>
        <div class="swipe_bolt_boost" id="dvBoost">
        </div>
    </div>
</div>
