<div class="container chat_container" id="dvChat">
</div>
<div class="container search_container" id="dvSearch">
    
</div>
<div class="container messages_container" id="dvMessages">
    
</div>
<div class="container settings_container" id="dvSettings">
    <span class="tabInnerText fontFace">
        #settings#
    </span>
</div>
<div class="container " id="dvEarn">
    <span class="tabInnerText fontFace">
        #earn money#
    </span>
     <!-- <button id = "cameraTakePicture">TAKE PICTURE</button> -->
<img id = "myImage"></img>

</div>
<div class="container logout_container" id="dvLogout">
    <span class="tabInnerText fontFace">
        #Logout#
    </span>
</div>
