<div>
    <a href="javascript:addtestRoom('tst.js=>addtestRoom');">
        Add  Rooms
    </a>
    <br>
        <a href="javascript:addTestUsers5('test.js=>addTestUsers5');">
            Add Users
        </a>
        <br>
            <a href="javascript:changeroom('test.js=>addTestUsers');">
                Change Room
            </a>
            <br>
                <a href="javascript:testDeleteUser('test.js=>testDeleteUser');">
                    Remove User
                </a>
                <br>
                    <a href="javascript:testUpdateInfo('test.js=>testUpdateInfo');">
                        Update User Info
                    </a>
                    <br>
                        <a href="testmob.html">
                            mobile interface
                        </a>
                        <br>
                        </br>
                    </br>
                </br>
            </br>
        </br>
    </br>
</div>