<div class="typingBox boxBorder boxSizing" id="dvTypingBox">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tr>
            <td class="messageStyleArrow">
                <span>
                    <img src="img/type_arrow.png">
                    </img>
                </span>
            </td>
            <td class="messagStyle fontFace">
                <span data-i18n="STYLE_73">
                    #style#
                </span>
            </td>
            <td class="messageTyped fontFace">
                <input class="typingBoxWidth boxSizing" id="txtChat" placeholder="#type here# ..." type="text"/>
            </td>
            <td class="sendMsgButton fontFace" onclick="javascript:sendChatMessage('typespace.html=>sendMsgButton');">
                
               <span data-i18n="SEND_72"> :) #send# </span>
            </td>
        </tr>
    </table>
</div>