<table bgcolor="white" border="0" cellpadding="0" cellspacing="0" class="fontFace" height="100%" width="100%">
    <tr height="25px">
        <td background="img/del/topbg.png" colspan="2">
            <div class="userProfileName" id="dvUserProfile_nameBlock">
                <span class="titlePadding" id="dvUserProfile_userName">
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td width="130px">
            <table border="0" cellpadding="0" cellspacing="0" class="marginStyle" height="60%" width="130px">
                <tr>
                    <td>
                        <img class="chat_userPic" id="dvUserProfile_userImage" src="">
                        </img>
                    </td>
                </tr>
                <tr height="20px">
                    <td>
                        <table border="1" cellpadding="0" cellspacing="0" class="fontStyle borderStyle" height="100%" width="100%">
                            <tr>
                                <td>
                                    <img class="meAreaMediaTab mediaTab cursorStyle" id="imgAudio" src="">
                                    </img>
                                </td>
                                <td class="userProfileMedia">
                                    <img class="meAreaMediaTab mediaTab cursorStyle" id="imgVideo" src="">
                                    </img>
                                </td>
                                <td>
                                    <img class="meAreaMediaTab mediaTab cursorStyle" id="imgRemove" src="">
                                    </img>
                                </td>
                                <td>
                                    <img class="mediaTab meAreaPlusTab cursorStyle" id="imgAdd" src="">
                                    </img>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td valign="top">
            <div class="userProfileDetails" id="dvUserProfile_details">
                <table border="0" cellpadding="0" cellspacing="0" height="90%" width="100%">
                    <tr class="userProfileDetailTab">
                        <td align="left" class="nowrap" valign="top">
                            <span class="userProfileName" data-i18n="_65">
                                #Age#:
                            </span>
                            <span class="fontStyle" id="dvUserProfile_details_userAge">
                            </span>
                        </td>
                    </tr>
                    <tr class="userProfileDetailTab">
                        <td align="left" class="nowrap" valign="top">
                            <span class="userProfileName" data-i18n="USER_GENDER_66">
                                #Gender#:
                            </span>
                            <span class="fontStyle" id="dvUserProfile_details_userGender">
                            </span>
                        </td>
                    </tr>
                    <tr class="userProfileDetailTab">
                        <td align="left" class="nowrap" valign="top">
                            <span class="userProfileName" data-i18n="USER_LOCATION_67">
                                #Location#:
                            </span>
                            <span class=" fontStyle" id="dvUserProfile_details_userLocation">
                            </span>
                        </td>
                    </tr>
                    <tr class="userProfileDetailTab">
                        <td align="left" class="fontStyle nowrap" colspan="2" valign="top">
                            <span id="dvUserProfile_details_userCountry">
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr height="20px">
        <td colspan="2">
            <div class="userOptionsTab" id="dvUserProfile_userOptions">
                <table border="1" cellpadding="0" cellspacing="0" class="fontStyle borderStyle profileMargin" height="100%" width="100%">
                    <tr>
                        <td width="67px">
                            <div class="cursorStyle" data-i18n="USER_PROFILE_70" id="dvUserProfile_profileTab">
                                #Profile#
                            </div>
                        </td>
                        <td width="103px">
                            <div class="cursorStyle" data-i18n="ADD_FRIEND_89" id="dvUserProfile_addFriendTab">
                                #Add friend#
                            </div>
                        </td>
                        <td>
                            <div class="cursorStyle" data-i18n="BLOCK_USER_90" id="dvUserProfile_blockTab">
                                #Block#
                            </div>
                        </td>
                        <td>
                            <div class="cursorStyle" data-i18n="DOCK_USER_91" id="dvUserProfile_dockTab">
                                #Dock#
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="fontStyle currenUserProfileTab" id="dvUserProfile_currentUserProfileTab_Box">
                <div class="cursorStyle" data-i18n="USER_PROFILE_70" id="dvUserProfile_currentUserProfileTab">
                    #Profile#
                </div>
            </div>
        </td>
    </tr>
</table>
