 <div class="main" id="dvMain">
            <div class="header_main" id="dvHeader">
            </div>
            <div class="tabContainer" id="dvTabContainer">
            </div>
            <div class="footer_main" id="dvFooter" style="display:none">
            </div>
            <div class="loadingScreen" id="dvWait">
                <table align="center" cellpadding="0" cellspacing="0" height="100%" width="100%">
                    <tr>
                        <td align="center" class="waitingText fontStyle fontFace" valign="middle">
                            #Please wait#
                            <br/>
                            <i class="fa fa-spinner">
                            </i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>